Repository kleros/escrow-v2, changes with the owners that CODEOWNERS names for each.
All owners: @kleros/maintainers-escrow-v2-frontend, @jaybuidl, @kleros/devs

chore: remove commente with Etherscan API key reference from deployment script
  contracts/scripts/generateDeploymentArtifact.sh
Owners: @jaybuidl

feat: add seller role checks and update UI conditions
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/RaiseDisputeButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/TimeOutButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/WasItFulfilled/Buttons/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: enhance value formatting to handle small amounts and improve readability
  web/src/utils/format.ts
Owners: @kleros/maintainers-escrow-v2-frontend

feat: add dropdown for policies and enhance fileviewer component
  web/src/layout/Header/MobileHeader.tsx
  web/src/layout/Header/navbar/Explore.tsx
  web/src/pages/AttachmentDisplay/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: update policy highlight logic for improved accuracy
  web/src/layout/Header/navbar/Explore.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: move policies to constants file and refactor Explore component to use it
  web/src/consts/policies.tsx
  web/src/layout/Header/navbar/Explore.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

feat: add smallButton prop to Policies Dropdown for improved UI
  web/src/layout/Header/navbar/Explore.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: replace policies constant file to just have the ipfs urls
  web/src/consts/policies.ts
  web/src/consts/policies.tsx
  web/src/layout/Header/navbar/Explore.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: add newline at end of file in policies constants
  web/src/consts/policies.ts
Owners: @kleros/maintainers-escrow-v2-frontend

feat: add transactionHash field to subgraph for various escrow events
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/src/escrow.ts
Owners: @kleros/maintainers-escrow-v2-frontend

feat: add block explorer links to escrow timeline
  web/src/components/PreviewCard/EscrowTimeline/index.tsx
  web/src/components/PreviewCard/Header.tsx
  web/src/components/PreviewCard/index.tsx
  web/src/hooks/queries/useTransactionsQuery.ts
  web/src/hooks/useEscrowTimelineItems.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: minor accessibility improvement
  web/src/hooks/useEscrowTimelineItems.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: replace etherscan icon with external link icon in escrow timeline
  web/src/assets/svgs/icons/etherscan.svg
  web/src/assets/svgs/icons/external-link.svg
  web/src/hooks/useEscrowTimelineItems.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: replace block explorer link icon
  web/src/assets/svgs/icons/external-link.svg
  web/src/hooks/useEscrowTimelineItems.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

feat: add seller role checks and update UI conditions
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/RaiseDisputeButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/TimeOutButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/WasItFulfilled/Buttons/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: enhance value formatting to handle small amounts and improve readability
  web/src/utils/format.ts
Owners: @kleros/maintainers-escrow-v2-frontend

feat: add dropdown for policies and enhance fileviewer component
  web/src/layout/Header/MobileHeader.tsx
  web/src/layout/Header/navbar/Explore.tsx
  web/src/pages/AttachmentDisplay/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: update policy highlight logic for improved accuracy
  web/src/layout/Header/navbar/Explore.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: move policies to constants file and refactor Explore component to use it
  web/src/consts/policies.tsx
  web/src/layout/Header/navbar/Explore.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

feat: add smallButton prop to Policies Dropdown for improved UI
  web/src/layout/Header/navbar/Explore.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: replace policies constant file to just have the ipfs urls
  web/src/consts/policies.ts
  web/src/consts/policies.tsx
  web/src/layout/Header/navbar/Explore.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: add newline at end of file in policies constants
  web/src/consts/policies.ts
Owners: @kleros/maintainers-escrow-v2-frontend

feat: add transactionHash field to subgraph for various escrow events
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/src/escrow.ts
Owners: @kleros/maintainers-escrow-v2-frontend

feat: add block explorer links to escrow timeline
  web/src/components/PreviewCard/EscrowTimeline/index.tsx
  web/src/components/PreviewCard/Header.tsx
  web/src/components/PreviewCard/index.tsx
  web/src/hooks/queries/useTransactionsQuery.ts
  web/src/hooks/useEscrowTimelineItems.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: minor accessibility improvement
  web/src/hooks/useEscrowTimelineItems.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: replace etherscan icon with external link icon in escrow timeline
  web/src/assets/svgs/icons/etherscan.svg
  web/src/assets/svgs/icons/external-link.svg
  web/src/hooks/useEscrowTimelineItems.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: replace block explorer link icon
  web/src/assets/svgs/icons/external-link.svg
  web/src/hooks/useEscrowTimelineItems.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

feat: migration to latest ui components library version
  web/package.json
  web/src/components/FileViewer/Viewers/MarkdownViewer.tsx
  web/src/components/FileViewer/index.tsx
  web/src/pages/AttachmentDisplay/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

feat: yarn lock
  yarn.lock
Owners: @kleros/devs

fix: add submit type to Save button in contact details form
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

feat: update @kleros/kleros-app to version 3.0.1
  web/package.json
  web/src/context/AtlasProvider.tsx
  yarn.lock
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

feat: add unsubscribeUser functionality
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: update unsubscribe button styling for smaller screens
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: correct unsubscribe button styling for consistency
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix(web): security-fixes
  web/package.json
  web/src/components/MarkdownRenderer.tsx
  web/src/pages/AttachmentDisplay/index.tsx
  web/src/utils/urlValidation.ts
  yarn.lock
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

fix(web): securituy-fixes
  web/package.json
  web/src/components/MarkdownRenderer.tsx
  web/src/pages/AttachmentDisplay/index.tsx
  web/src/utils/urlValidation.ts
  yarn.lock
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

fix(web): type-mismatch-attributes
  web/src/components/MarkdownRenderer.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix(web): type-mismatch-attributes
  web/src/components/MarkdownRenderer.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor(web): show-raw-attachment-url-when-unsafe
  web/src/pages/AttachmentDisplay/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor(web): show-raw-attachment-url-when-unsafe
  web/src/pages/AttachmentDisplay/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

CODEOWNERS:

# Default
*                          @kleros/maintainers-escrow-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs
