Repository kleros/escrow-v2, changes with the owners that CODEOWNERS names for each.
All owners: @kleros/maintainers-escrow-v2-frontend, @jaybuidl, @kleros/devs

CODEOWNERS:

# Default
*                          @kleros/maintainers-escrow-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs

chore: fix typo in comment
  contracts/src/interfaces/IEscrow.sol
Owners: @jaybuidl

adding policies
  web/package.json
  web/src/layout/Header/navbar/Explore.tsx
  web/src/layout/Header/navbar/Policies.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

updated the dimensions
  web/src/layout/Header/navbar/Policies.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

optimised
  web/src/layout/Header/navbar/Policies.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

issue resolved
  web/src/layout/Header/navbar/Policies.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

Delete web/package.json
  web/package.json
Owners: @kleros/maintainers-escrow-v2-frontend

Update Policies.tsx
  web/src/layout/Header/navbar/Policies.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

feat: add markdown features
  web/package.json
  web/src/components/ExternalLinkWarning.tsx
  web/src/components/FileViewer/Viewers/MarkdownViewer.tsx
  web/src/components/MarkdownEditor.tsx
  web/src/components/MarkdownRenderer.tsx
  web/src/components/PreviewCard/Terms/Description.tsx
  web/src/pages/NewTransaction/Terms/Deliverable/index.tsx
  web/src/styles/mdxEditorTheme.ts
  web/src/utils/linkUtils.ts
  web/src/utils/urlValidation.ts
  yarn.lock
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

chore: style impros
  web/src/components/FileViewer/Viewers/MarkdownViewer.tsx
  web/src/components/MarkdownEditor.tsx
  web/src/components/MarkdownRenderer.tsx
  web/src/styles/mdxEditorTheme.ts
Owners: @kleros/maintainers-escrow-v2-frontend

feat: style impros
  web/src/components/MarkdownEditor.tsx
  web/src/pages/NewTransaction/Terms/Deliverable/index.tsx
  web/src/styles/mdxEditorTheme.ts
Owners: @kleros/maintainers-escrow-v2-frontend

chore: correct url files
  web/src/utils/linkUtils.ts
  web/src/utils/urlValidation.ts
Owners: @kleros/maintainers-escrow-v2-frontend

Update web/src/utils/urlValidation.ts
  web/src/utils/urlValidation.ts
Owners: @kleros/maintainers-escrow-v2-frontend

feat: add `transaction` to IEscrow
  contracts/src/interfaces/IEscrow.sol
Owners: @jaybuidl

chore: update imports
  contracts/src/EscrowUniversal.sol
  contracts/src/EscrowView.sol
Owners: @jaybuidl

chore: styling change reverted
  contracts/src/EscrowView.sol
Owners: @jaybuidl

docs(Escrow): typo
  contracts/src/EscrowUniversal.sol
Owners: @jaybuidl

refactor: scaffold to migrate from styled-components to Tailwind CSS
  web/global.d.ts
  web/package.json
  web/src/app.tsx
  web/src/context/StyledComponentsProvider.tsx
  web/src/context/ThemeProvider.tsx
  web/src/context/Web3Provider.tsx
  web/src/global.css
  web/src/hooks/useToggleThemeContext.tsx
  web/src/layout/index.tsx
  web/src/styles/commonStyles.ts
  web/src/styles/customScrollbar.ts
  web/src/styles/global-style.ts
  web/src/styles/landscapeStyle.ts
  web/src/styles/themes.ts
  web/vite.config.js
  yarn.lock
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

chore: add clsx and tailwind-merge dependencies
  web/package.json
  yarn.lock
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

refactor: migrate Header and related components
  web/src/app.tsx
  web/src/components/ConnectWallet/AccountDisplay.tsx
  web/src/components/ConnectWallet/index.tsx
  web/src/components/EnsureAuth.tsx
  web/src/components/InfoCard.tsx
  web/src/components/LightButton.tsx
  web/src/components/Overlay.tsx
  web/src/components/OverlayPortal.tsx
  web/src/global.css
  web/src/layout/Header/DesktopHeader.tsx
  web/src/layout/Header/Logo.tsx
  web/src/layout/Header/MobileHeader.tsx
  web/src/layout/Header/index.tsx
  web/src/layout/Header/navbar/DappList.tsx
  web/src/layout/Header/navbar/Debug.tsx
  web/src/layout/Header/navbar/Explore.tsx
  web/src/layout/Header/navbar/Menu/Help.tsx
  web/src/layout/Header/navbar/Menu/Settings/General.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/EmailVerificationInfo.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/FormContact.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/index.tsx
  web/src/layout/Header/navbar/Menu/Settings/index.tsx
  web/src/layout/Header/navbar/Menu/index.tsx
  web/src/layout/Header/navbar/Product.tsx
  web/src/layout/Header/navbar/index.tsx
  web/src/layout/index.tsx
  web/src/utils/index.ts
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate Footer component
  web/src/components/ExternalLink.tsx
  web/src/layout/Footer/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: begin "new-transaction" route migration (WIP)
  web/src/global.css
  web/src/pages/NewTransaction/HeroImage.tsx
  web/src/pages/NewTransaction/Timeline.tsx
  web/src/pages/NewTransaction/index.tsx
  web/src/styles/breakpoints.ts
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: minor fix to connect wallet message display in NewTransaction component
  web/src/pages/NewTransaction/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate NewTransaction TypeOfEscrow and related components
  web/src/components/StyledIcons/ClosedCircleIcon.tsx
  web/src/global.css
  web/src/pages/NewTransaction/EscrowDetails/TypeOfEscrow/EscrowOptions/CryptoSwap.tsx
  web/src/pages/NewTransaction/EscrowDetails/TypeOfEscrow/EscrowOptions/GeneralEscrow.tsx
  web/src/pages/NewTransaction/EscrowDetails/TypeOfEscrow/EscrowOptions/index.tsx
  web/src/pages/NewTransaction/EscrowDetails/TypeOfEscrow/Info.tsx
  web/src/pages/NewTransaction/EscrowDetails/TypeOfEscrow/index.tsx
  web/src/pages/NewTransaction/Header.tsx
  web/src/pages/NewTransaction/NavigationButtons/DepositPaymentButton.tsx
  web/src/pages/NewTransaction/NavigationButtons/NextButton.tsx
  web/src/pages/NewTransaction/NavigationButtons/PreviousButton.tsx
  web/src/pages/NewTransaction/NavigationButtons/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate NewTransaction Title component
  web/src/global.css
  web/src/pages/NewTransaction/EscrowDetails/Title/TextField.tsx
  web/src/pages/NewTransaction/EscrowDetails/Title/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate NewTransaction Deliverable component (WIP)
  web/src/global.css
  web/src/hooks/useIsDesktop.tsx
  web/src/pages/NewTransaction/Terms/Deliverable/index.tsx
  web/src/pages/NewTransaction/Terms/Payment/DestinationAddress.tsx
  web/src/pages/NewTransaction/Terms/Payment/ToDivider.tsx
  web/src/pages/NewTransaction/Terms/Payment/TokenTransaction/TokenAndAmount/AmountField.tsx
  web/src/pages/NewTransaction/Terms/Payment/TokenTransaction/TokenAndAmount/Token.tsx
  web/src/pages/NewTransaction/Terms/Payment/TokenTransaction/TokenAndAmount/index.tsx
  web/src/pages/NewTransaction/Terms/Payment/TokenTransaction/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate and fix markdown editor
  web/src/components/MarkdownEditor.tsx
  web/src/pages/NewTransaction/Terms/Deliverable/index.tsx
  web/src/pages/NewTransaction/Terms/Payment/TokenTransaction/TokenAndAmount/index.tsx
  web/src/styles/mdxEditorStyles.css
  web/src/styles/mdxEditorTheme.ts
Owners: @kleros/maintainers-escrow-v2-frontend

fix: do not add token if it already exists to prevent infinite loop
  web/src/hooks/useFilteredTokens.ts
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate NewTransaction Payment and related components
  web/src/components/SimpleToggleButton.tsx
  web/src/global.css
  web/src/pages/MyTransactions/Modal/StyledModal.tsx
  web/src/pages/NewTransaction/Terms/Payment/BuyerAddress.tsx
  web/src/pages/NewTransaction/Terms/Payment/DestinationAddress.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/AmountField.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/MaxBalance.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/DropdownButton.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/TokenItem/Balance.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/TokenItem/TokenIcon.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/TokenItem/index.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/TokenListModal.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/index.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/index.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: minor style improvements
  web/src/components/SimpleToggleButton.tsx
  web/src/pages/NewTransaction/Terms/Payment/BuyerAddress.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: remove maxLength from Buyer and Destination Address components as it prevents valid ENS names
  web/src/pages/NewTransaction/Terms/Payment/BuyerAddress.tsx
  web/src/pages/NewTransaction/Terms/Payment/DestinationAddress.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate NewTransaction Deadline component
  web/src/pages/NewTransaction/EscrowDetails/Title/index.tsx
  web/src/pages/NewTransaction/Terms/Deadline/index.tsx
  web/src/styles/mdxEditorStyles.css
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate NewTransaction Notifications and related components
  web/src/pages/NewTransaction/Terms/Notifications/EmailField.tsx
  web/src/pages/NewTransaction/Terms/Notifications/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate NewTransaction Preview and related components
  web/src/components/ExternalLinkWarning.tsx
  web/src/components/MarkdownRenderer.tsx
  web/src/components/OpenModalRaiseDisputeButton.tsx
  web/src/components/PreviewCard/EscrowTimeline/index.tsx
  web/src/components/PreviewCard/Header.tsx
  web/src/components/PreviewCard/Terms/AttachedFile.tsx
  web/src/components/PreviewCard/Terms/Description.tsx
  web/src/components/PreviewCard/Terms/Header.tsx
  web/src/components/PreviewCard/Terms/index.tsx
  web/src/components/PreviewCard/index.tsx
  web/src/components/StyledSkeleton.tsx
  web/src/components/TransactionCard/StatusBanner.tsx
  web/src/components/TransactionInfo/Field.tsx
  web/src/components/TransactionInfo/index.tsx
  web/src/global.css
  web/src/hooks/useEscrowTimelineItems.tsx
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/AmountField.tsx
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/Buttons/index.tsx
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/Description.tsx
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/Header.tsx
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/index.tsx
  web/src/pages/MyTransactions/Modal/RaiseDisputeModal/Buttons/index.tsx
  web/src/pages/MyTransactions/Modal/RaiseDisputeModal/Description.tsx
  web/src/pages/MyTransactions/Modal/RaiseDisputeModal/FeeRequired.tsx
  web/src/pages/MyTransactions/Modal/RaiseDisputeModal/Header.tsx
  web/src/pages/MyTransactions/Modal/RaiseDisputeModal/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/AcceptSettlementButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/ExecuteTransactionButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/ProposeSettlementButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/RaiseDisputeButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/TimeOutButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/ViewCaseButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/WasItFulfilled/Buttons/OpenModalProposeSettlementButton.tsx
  web/src/pages/NewTransaction/Preview/Header.tsx
  web/src/pages/NewTransaction/Preview/index.tsx
  web/src/styles/markdownRendererStyles.css
Owners: @kleros/maintainers-escrow-v2-frontend

fix: replace custom 50% border radius with equivalent tailwind class
  web/src/components/ConnectWallet/AccountDisplay.tsx
  web/src/components/TransactionCard/StatusBanner.tsx
  web/src/layout/Header/navbar/Menu/Settings/General.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/DropdownButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: properly handle undefined status in StatusBanner component
  web/src/components/TransactionCard/StatusBanner.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate MyTransactions TransactionFetcher and related components
  web/src/components/StyledSkeleton.tsx
  web/src/components/TransactionCard/index.tsx
  web/src/components/TransactionsDisplay/Filters.tsx
  web/src/components/TransactionsDisplay/Search.tsx
  web/src/components/TransactionsDisplay/Stats.tsx
  web/src/components/TransactionsDisplay/StatsAndFilters.tsx
  web/src/components/TransactionsDisplay/TransactionsGrid.tsx
  web/src/components/TransactionsDisplay/index.tsx
  web/src/global.css
  web/src/pages/MyTransactions/TransactionsFetcher.tsx
  web/src/pages/MyTransactions/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate MyTransaction TransactionDetails and related components
  web/src/pages/MyTransactions/Modal/PaymentReleased/CloseButton.tsx
  web/src/pages/MyTransactions/Modal/PaymentReleased/Description.tsx
  web/src/pages/MyTransactions/Modal/PaymentReleased/Header.tsx
  web/src/pages/MyTransactions/Modal/PaymentReleased/VerifiedLogo.tsx
  web/src/pages/MyTransactions/Modal/PaymentReleased/index.tsx
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/AmountField.tsx
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/Buttons/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/WasItFulfilled/Buttons/ClaimFullPaymentButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/WasItFulfilled/Buttons/ReleasePaymentButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/WasItFulfilled/Buttons/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/WasItFulfilled/Header.tsx
  web/src/pages/MyTransactions/TransactionDetails/WasItFulfilled/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: minor prop fixes in two separate NumberField components
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/AmountField.tsx
  web/src/pages/NewTransaction/Terms/Payment/TokenTransaction/TokenAndAmount/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: enhance layout and styling in Description component for better readability
  web/src/components/PreviewCard/Terms/Description.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

feat: implement formatting utility for NumberField components to handle scientific notation
  web/src/components/PreviewCard/Terms/Description.tsx
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/AmountField.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/index.tsx
  web/src/pages/NewTransaction/Terms/Payment/TokenTransaction/TokenAndAmount/index.tsx
  web/src/utils/format.ts
Owners: @kleros/maintainers-escrow-v2-frontend
