Repository kleros/escrow-v2, changes with the owners that CODEOWNERS names for each.
All owners: @kleros/maintainers-escrow-v2-frontend, @jaybuidl, @kleros/devs

CODEOWNERS:

# Default
*                          @kleros/maintainers-escrow-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs

fix: toastify fix
  web/src/styles/global-style.ts
Owners: @kleros/maintainers-escrow-v2-frontend

chore(web): update-subgraph-status-lib
  web/package.json
  yarn.lock
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

fix: theme-style-flashing
  web/src/context/StyledComponentsProvider.tsx
  web/src/index.html
Owners: @kleros/maintainers-escrow-v2-frontend

chore: ui-library-update
  web/package.json
  web/src/app.tsx
  yarn.lock
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

fix: pull updated kleroscore address by deployment and update arbitration cost
  contracts/package.json
  web/package.json
  web/src/consts/arbitration.ts
  web/src/hooks/queries/useArbitrationCostFromKlerosCore.ts
  yarn.lock
Owners: @jaybuidl, @kleros/maintainers-escrow-v2-frontend, @kleros/devs

chore: bumped @kleros/kleros-v2-contracts, bumped hardhat/viem/wagmi
  contracts/deploy/00-escrow.ts
  contracts/deploy/utils/getContracts.ts
  contracts/hardhat.config.ts
  contracts/package.json
  subgraph/package.json
  web/package.json
  yarn.lock
Owners: @jaybuidl, @kleros/maintainers-escrow-v2-frontend, @kleros/devs

chore: devnet subgraph redeploy
  subgraph/package.json
  subgraph/subgraph.yaml
Owners: @kleros/maintainers-escrow-v2-frontend

fix(web): contract arbitrators in wagmi hook generation
  contracts/package.json
  web/package.json
  web/src/consts/arbitration.ts
  web/src/hooks/queries/useArbitrationCostFromKlerosCore.ts
  web/src/pages/MyTransactions/TransactionDetails/index.tsx
  web/wagmi.config.ts
  yarn.lock
Owners: @jaybuidl, @kleros/maintainers-escrow-v2-frontend, @kleros/devs

fix: attachmentdisplay fix
  web/src/components/ScrollTop.tsx
  web/src/hooks/useScrollTop.ts
  web/src/pages/AttachmentDisplay/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: hook fix
  web/src/pages/MyTransactions/TransactionDetails/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: rolled back chai to v4 because v5 is ESM only
  contracts/package.json
  yarn.lock
Owners: @jaybuidl, @kleros/devs

fix: deployment-specific frontendUrl in dispute template
  contracts/scripts/setDisputeTemplate.ts
Owners: @jaybuidl

feat: add mainnet script
  web/.env.mainnet.public
  web/.gitignore
  web/package.json
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

fix: wagmi generation for Neo
  web/wagmi.config.ts
Owners: @kleros/maintainers-escrow-v2-frontend

fix: disabled deposit payment button on token
  web/src/pages/NewTransaction/NavigationButtons/DepositPaymentButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

chore: add more logs
  web/src/pages/NewTransaction/NavigationButtons/DepositPaymentButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

feat: whitelisted USDC and USDC.e on Arbitrum with 000 cap
  contracts/deploy/00-escrow.ts
  contracts/deployments/arbitrum/USDC.json
  contracts/deployments/arbitrum/USDCe.json
  contracts/scripts/dotenv.sh
  contracts/scripts/generateDeploymentsMarkdown.sh
Owners: @jaybuidl

feat: whitelisted PNK on Arbitrum
  contracts/deploy/00-escrow.ts
Owners: @jaybuidl

feat(Escrow): add custom buyer option
  contracts/foundry.toml
  contracts/src/EscrowUniversal.sol
  contracts/test/EscrowUniversal.t.sol
Owners: @jaybuidl

feat(Escrow): add function to interface
  contracts/src/EscrowUniversal.sol
  contracts/src/interfaces/IEscrow.sol
Owners: @jaybuidl

chore: bumped @kleros/kleros-v2-contracts to pick up the latest devnet contracts
  contracts/package.json
  web/package.json
  yarn.lock
Owners: @jaybuidl, @kleros/maintainers-escrow-v2-frontend, @kleros/devs

refactor(Escrow): use inheritance for custom buyer
  contracts/src/EscrowCustomBuyer.sol
  contracts/src/EscrowUniversal.sol
  contracts/src/interfaces/IEscrow.sol
  contracts/test/EscrowCustomBuyer.t.sol
  contracts/test/EscrowUniversal.t.sol
Owners: @jaybuidl

feat: buffer between delivery deadline and dispute deadline
  web/src/pages/MyTransactions/TransactionDetails/InfoCards/BufferPeriodWarning.tsx
  web/src/pages/MyTransactions/TransactionDetails/index.tsx
  web/src/pages/NewTransaction/NavigationButtons/DepositPaymentButton.tsx
  web/src/utils/bufferRules.ts
Owners: @kleros/maintainers-escrow-v2-frontend

fix: use creation timestamp instead of deliverydeadline timestamp
  web/src/pages/NewTransaction/NavigationButtons/DepositPaymentButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: ux impro, test 1 year buffer to check retrocompatibility
  web/src/pages/MyTransactions/TransactionDetails/InfoCards/BufferPeriodWarning.tsx
  web/src/pages/MyTransactions/TransactionDetails/index.tsx
  web/src/utils/bufferRules.ts
Owners: @kleros/maintainers-escrow-v2-frontend

chore: revert test buffer
  web/src/pages/MyTransactions/TransactionDetails/index.tsx
  web/src/utils/bufferRules.ts
Owners: @kleros/maintainers-escrow-v2-frontend

feat: hide the buffer warning if the transaction status moved away from nodispute
  web/src/pages/MyTransactions/TransactionDetails/InfoCards/BufferPeriodWarning.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

chore: changeArbitrator script
  contracts/hardhat.config.ts
  contracts/scripts/changeArbitrator.ts
Owners: @jaybuidl

chore: deployment scripts for both escrow contract flavors, custom buyer deployment
  contracts/README.md
  contracts/README.md.template
  contracts/deploy/00-escrow-custom-buyer.ts
  contracts/deploy/00-escrow-universal.ts
  contracts/deploy/shared.ts
  contracts/deploy/utils/getContracts.ts
  contracts/deployments/arbitrumSepoliaDevnet/EscrowCustomBuyer.json
  contracts/deployments/arbitrumSepoliaDevnet/EscrowViewCustomBuyer.json
  contracts/scripts/setDisputeTemplate.ts
  contracts/src/EscrowCustomBuyer.sol
Owners: @jaybuidl

feat(Escrow): add custom buyer to universal
  contracts/src/EscrowUniversal.sol
  contracts/src/interfaces/IEscrow.sol
  contracts/test/EscrowUniversal.t.sol
Owners: @jaybuidl

chore: delete customBuyer contract
  contracts/src/EscrowCustomBuyer.sol
  contracts/test/EscrowCustomBuyer.t.sol
Owners: @jaybuidl

chore: scripts update, devnet deployment
  contracts/README.md
  contracts/README.md.template
  contracts/deploy/00-escrow-custom-buyer.ts
  contracts/deploy/shared.ts
  contracts/deploy/utils/getContracts.ts
  contracts/deployments/arbitrum/PNK.json
  contracts/deployments/arbitrumSepoliaDevnet/EscrowCustomBuyer.json
  contracts/deployments/arbitrumSepoliaDevnet/EscrowUniversal.json
  contracts/deployments/arbitrumSepoliaDevnet/EscrowView.json
  contracts/deployments/arbitrumSepoliaDevnet/EscrowViewCustomBuyer.json
  contracts/scripts/changeArbitrator.ts
  contracts/scripts/setDisputeTemplate.ts
Owners: @jaybuidl

chore: subgraph redeploy
  subgraph/package.json
  subgraph/subgraph.yaml
Owners: @kleros/maintainers-escrow-v2-frontend

feat: custom buyer flow
  web/package.json
  web/src/assets/svgs/icons/arrow-down.svg
  web/src/components/SimpleToggleButton.tsx
  web/src/context/NewTransactionContext.tsx
  web/src/pages/NewTransaction/NavigationButtons/DepositPaymentButton.tsx
  web/src/pages/NewTransaction/NavigationButtons/NextButton.tsx
  web/src/pages/NewTransaction/Preview/index.tsx
  web/src/pages/NewTransaction/Terms/Payment/BuyerAddress.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/index.tsx
  yarn.lock
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

chore: remove tailwind merge plugin
  web/package.json
  yarn.lock
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

feat: display ens if it exists
  web/src/pages/NewTransaction/Terms/Payment/BuyerAddress.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

feat: few styling impros
  web/src/assets/svgs/icons/arrow-down.svg
  web/src/components/SimpleToggleButton.tsx
  web/src/pages/NewTransaction/Terms/Payment/BuyerAddress.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/MaxBalance.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/DropdownButton.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/TokenItem/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

feat: state context improvement, style impro
  web/src/context/NewTransactionContext.tsx
  web/src/pages/NewTransaction/Terms/Payment/BuyerAddress.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

feat: beta redeploy
  contracts/README.md
  contracts/deployments/arbitrum/EscrowUniversal.json
  contracts/deployments/arbitrum/EscrowView.json
Owners: @jaybuidl

chore: change naming to generla court
  web/src/components/PreviewCard/Terms/Description.tsx
Owners: @kleros/maintainers-escrow-v2-frontend
