Repository kleros/escrow-v2, changes with the owners that CODEOWNERS names for each.
All owners: @kleros/maintainers-escrow-v2-frontend, @jaybuidl, @kleros/devs

CODEOWNERS:

# Default
*                          @kleros/maintainers-escrow-v2-frontend
contracts                  @jaybuidl

# Owned by everyone
yarn.lock                  @kleros/devs
.gitignore                 @kleros/devs

fix: prevent ProposeSettlementModal from losing state due to parent setInterval
  web/src/pages/MyTransactions/Modal/RaiseDisputeModal/Buttons/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/WasItFulfilled/Buttons/OpenModalProposeSettlementButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate AttrachmentDisplay and related components
  web/src/components/FileViewer/Viewers/MarkdownViewer.tsx
  web/src/components/FileViewer/index.tsx
  web/src/components/Loader.tsx
  web/src/global.css
  web/src/pages/AttachmentDisplay/Header.tsx
  web/src/pages/AttachmentDisplay/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: replace NumberField with BigNumberField where handling amounts
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/AmountField.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/index.tsx
  web/src/pages/NewTransaction/Terms/Payment/TokenTransaction/TokenAndAmount/index.tsx
  web/src/utils/format.ts
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate minor dispute related components
  web/src/components/StyledIcons/CheckCircleOutlineIcon.tsx
  web/src/components/StyledIcons/LawBalanceIcon.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/ViewCaseButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: improve TimeOutButton logic based on party seeing the transaction
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/TimeOutButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate Settings and related components
  web/src/global.css
  web/src/pages/Settings/EmailConfirmation/index.tsx
  web/src/pages/Settings/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

chore: remove unused code
  web/src/components/StyledIcons/HourglassIcon.tsx
  web/src/components/StyledSkeleton.tsx
  web/src/components/WithHelpTooltip.tsx
  web/src/consts/community-elements.tsx
  web/src/pages/MyTransactions/Modal/RaiseDisputeModal/AmountClaimed/AmountField.tsx
  web/src/pages/MyTransactions/Modal/RaiseDisputeModal/AmountClaimed/Header.tsx
  web/src/pages/MyTransactions/Modal/RaiseDisputeModal/AmountClaimed/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/Header.tsx
  web/src/pages/MyTransactions/WithHelpTooltip.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: simplify message rendering in EnsureAuth component
  web/src/components/EnsureAuth.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: improve theme color handling in useEscrowTimelineItems
  web/src/hooks/useEscrowTimelineItems.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: update custom 3px border radius to use component library default
  web/src/components/FileViewer/index.tsx
  web/src/layout/Header/navbar/DappList.tsx
  web/src/layout/Header/navbar/Menu/Help.tsx
  web/src/layout/Header/navbar/Menu/Settings/index.tsx
  web/src/layout/Header/navbar/Product.tsx
  web/src/pages/MyTransactions/Modal/StyledModal.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/DropdownButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: adjust margin for ToDivider component
  web/src/pages/NewTransaction/Terms/Payment/ToDivider.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: improve logic for dispute handling in escrow mapping
  subgraph/mappings/escrow.ts
  subgraph/package.json
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: minor improvement to dispute handling logic in escrow mapping
  subgraph/mappings/escrow.ts
Owners: @kleros/maintainers-escrow-v2-frontend

chore: add goldsky tooling
  subgraph/package.json
  yarn.lock
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

fix: update subgraph mappings configuration
  subgraph/package.json
  subgraph/src/escrow.ts
  subgraph/src/utils.ts
  subgraph/subgraph.yaml
Owners: @kleros/maintainers-escrow-v2-frontend

chore: add status banner toggle to environment variables
  web/.env.devnet.public
  web/.env.local.public
  web/.env.mainnet.public
  web/.env.testnet.public
  web/src/layout/Header/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

chore: remove react-modal and related dependencies
  web/package.json
  web/src/index.tsx
  yarn.lock
Owners: @kleros/maintainers-escrow-v2-frontend, @kleros/devs

chore: remove unused responsiveSize utility function
  web/src/styles/responsiveSize.ts
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate Modal in ExternalLinkWarning component
  web/src/components/ExternalLinkWarning.tsx
  web/src/styles/modalStyles.ts
Owners: @kleros/maintainers-escrow-v2-frontend

chore: minor import fixes
  web/src/components/ExternalLinkWarning.tsx
  web/src/components/SimpleToggleButton.tsx
  web/src/pages/NewTransaction/EscrowDetails/Title/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: update outdated reference to Freelancing court
  web/src/components/PreviewCard/Terms/Description.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: remove unnecessary modal overlay style & updated ExternalLinkWarning
  web/src/components/ExternalLinkWarning.tsx
  web/src/styles/modalStyles.ts
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate Modal in TokenListModal component
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/TokenListModal.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate Modal in PaymentReleased component
  web/src/pages/MyTransactions/Modal/PaymentReleased/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/WasItFulfilled/Buttons/ClaimFullPaymentButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/WasItFulfilled/Buttons/ReleasePaymentButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate Modal in ProposeSettlementModal component
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/index.tsx
  web/src/pages/MyTransactions/TransactionDetails/WasItFulfilled/Buttons/OpenModalProposeSettlementButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: migrate Modal in RaiseDisputeModal component
  web/src/components/OpenModalRaiseDisputeButton.tsx
  web/src/pages/MyTransactions/Modal/RaiseDisputeModal/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: remove unused StyledModal component and reset state in ProposeSettlementModal
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/index.tsx
  web/src/pages/MyTransactions/Modal/StyledModal.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: update baseModalStyle import paths for consistency
  web/src/pages/MyTransactions/Modal/PaymentReleased/index.tsx
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/index.tsx
  web/src/pages/MyTransactions/Modal/RaiseDisputeModal/index.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/TokenListModal.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

chore: whitelisted USDT, migrated script to etherscan v2 API
  contracts/deploy/shared.ts
  contracts/deployments/arbitrum/USDT.json
  contracts/scripts/generateDeploymentArtifact.sh
Owners: @jaybuidl

fix: properly use token decimals instead of assuming 18 decimals
  web/src/components/PreviewCard/EscrowTimeline/index.tsx
  web/src/components/PreviewCard/index.tsx
  web/src/components/TransactionCard/index.tsx
  web/src/context/NewTransactionContext.tsx
  web/src/hooks/useEscrowTimelineItems.tsx
  web/src/hooks/useFilteredTokens.ts
  web/src/hooks/useTokenMetadata.ts
  web/src/pages/MyTransactions/Modal/PaymentReleased/Header.tsx
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/AmountField.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/ProposeSettlementButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/index.tsx
  web/src/pages/NewTransaction/NavigationButtons/DepositPaymentButton.tsx
  web/src/pages/NewTransaction/Preview/index.tsx
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/index.tsx
  web/src/utils/fetchTokenInfo.ts
  web/src/utils/format.ts
  web/src/utils/getFormattedBalance.ts
  web/src/utils/initializeTokens.ts
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: update token decimals handling to remove unnecessary defaults to 18 decimals
  web/src/components/TransactionCard/index.tsx
  web/src/hooks/useTokenMetadata.ts
  web/src/pages/MyTransactions/Modal/PaymentReleased/Header.tsx
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/AmountField.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/ProposeSettlementButton.tsx
  web/src/pages/MyTransactions/TransactionDetails/index.tsx
  web/src/pages/NewTransaction/NavigationButtons/DepositPaymentButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: ensure proper validation and handling of token decimals
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/AmountField.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/ProposeSettlementButton.tsx
  web/src/pages/NewTransaction/NavigationButtons/DepositPaymentButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: refine token decimals check to allow edge case of 0 decimals
  web/src/pages/NewTransaction/NavigationButtons/DepositPaymentButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: remove unused formatPNK
  web/src/utils/format.ts
  web/src/utils/getFormattedBalance.ts
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: better stored token retrieval logic in TokenSelector
  web/src/pages/NewTransaction/Terms/Payment/GeneralTransaction/TokenAndAmount/TokenSelector/index.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: change variable name for clarity in AmountField
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/AmountField.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: enhance token metadata error handling and amount parsing
  web/src/hooks/useTokenMetadata.ts
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/AmountField.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/ProposeSettlementButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: minor code improvements
  web/src/hooks/useTokenMetadata.ts
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/AmountField.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

fix: improve token metadata validation by handling case where no request fails, but decimal info is not available
  web/src/pages/MyTransactions/Modal/ProposeSettlementModal/AmountField.tsx
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/ProposeSettlementButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend

refactor: rename var name for clarity
  web/src/pages/MyTransactions/TransactionDetails/PreviewCardButtons/ProposeSettlementButton.tsx
Owners: @kleros/maintainers-escrow-v2-frontend
